<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tittle, style: "display: block" %>
    <%= form.text_field :tittle %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div data-controller="country" data-clubs-my-value="42">
    <%= form.label :category_id, style: "display: block" %>
    <%= form.select :category_id, [], {}, 
      { data: {
        action: "focus->country#change",
        endpoint_value: "categories",
      } } %>
    <%= link_to 'New', new_category_path, data: {turbo_frame: "modal"}%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
